<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- website icon -->
    <link rel="shortcut icon" href="" type="image/svg">
    <link rel="stylesheet" href="css/style.min.css">
    <!-- name of site -->
    <title>Project</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                header
            </div>
        </header>
        <main class="page">
            <div class="container">
                page
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                footer
            </div>
        </footer>
    </div>
    <!-- jQery -->
    <script src="lib/jQuery/jquery.min.js"></script>
    <!-- JS load -->
    <script src="js/script.min.js"></script>
</body>
</html>